<$ extends "base.html" $>

<$ block content $>
<$ set path = "/game/" + game_id + "/0" $>
<div class="main-body">
    <div class="row" style="height: 100px">
        <a href=<% path %> class="h-100 p-3">
            <button class="btn btn-primary w-100 h-100 active">
                Новая игра
            </button>
        </a>
    </div>
    <div class="row">
        <h1 class="text-center">Топ сыгранных игр</h1>
        <div class="container">
            <table class="table table-striped-columns table-bordered ">
                <thead>
                <tr class="">
                    <th class="col-3" scope="col">Веб-сайты</th>
                    <th class="col-3" scope="col">Баллы</th>
                    <th class="col-3" scope="col">Дата окончания</th>
                </tr>
                </thead>
                <tbody>
                <$ for game in games $>
                <$ if game.finish_date $>
                <tr id="<% game.id %>">
                    <td><% game.websites_id %></td>
                    <td><% game.scores %></td>
                    <td><% game.finish_date %></td>
                </tr>
                <$ endif $>
                <$ endfor $>

                </tbody>
            </table>
        </div>
    </div>
</div>

<$ endblock $>