{% extends "base.html" %}

{% block content %}
<div class="main-body">
    <h1 class="d-flex justify-content-center">Авторизация</h1>
    <div class="d-flex justify-content-center">
        <form action="" method="post" class="form">
            {{ form.hidden_tag() }}
            <div class="form-outline mb-4">
                {{ form.login.label}}<br>
                {{ form.login(class="form-control") }}
                {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="form-outline mb-4">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}
                {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
            <div class="d-grid gap-2 mb-4">
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </div>
            <div>{{ message }}</div>
            <a class="dropdown-item d-flex justify-content-center" href="/register">Впервые здесь?
                Зарегистрироваться</a>
        </form>
    </div>

</div>

{% endblock %}