{% extends "base.html" %}

{% block content %}
<div class="basis">
    <h1 class="text-center">Профиль</h1>
    <div class="main-body">
        <div class="row justify-content-center">
            <div class="col-xl-6 card">
                <div class="card-body">
                    <h4 class="d-flex align-items-center mb-3"> Информация о профиле </h4>
                    <div class="row">
                        <div class="col-sm-3"><h6 class="mb-0"> Login </h6></div>
                        <div class="col-sm-9 text-secondary"> {{ user.login }}</div>
                    </div>
                    <hr>
                    {% if user.description: %}
                    <div class="row">
                        <div class="col-sm-3"><h6 class="mb-0"> Description </h6></div>
                        <div class="col-sm-9 text-secondary"> {{ user.description }}</div>
                    </div>
                    <hr>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-3"><h6 class="mb-0"> Roles </h6></div>
                        <div class="col-sm-9 text-secondary"> {{ user.roles }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3"><h6 class="mb-0"> Created_date </h6></div>
                        <div class="col-sm-9 text-secondary"> {{ user.created_date }}</div>
                    </div>
                    {% if current_user.login == user.login %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 float-right d-flex justify-content-end">
                            <a class="btn btn-info" href="/user/{{ current_user.login }}">Edit</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-3 card">
                <div class="card-body">
                    <h4 class="d-flex align-items-center mb-3"> Статистика игр </h4>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5"><h6 class="mb-0">Количество сыгранных игр</h6></div>
                        <div class="col-sm-4 text-secondary"> {{ current_user.statistic.correct_answers }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5"><h6 class="mb-0">Количество правильных ответов</h6></div>
                        <div class="col-sm-4 text-secondary"> {{ current_user.statistic.wrong_answers }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5"><h6 class="mb-0">Средний балл за игру</h6></div>
                        <div class="col-sm-4 text-secondary"> {{ current_user.statistic.average_score }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5"><h6 class="mb-0">Лучший счёт</h6></div>
                        <div class="col-sm-4 text-secondary"> {{ current_user.statistic.best_score }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}