{% extends "base.html" %}

{% block content %}
<div class="basis">
    <h1 class="text-center">Профиль</h1>
    <h2 class="text-center"> {{ current_user.login }}</h2>
    <div class="container">
        <table class="table table-sm">
            <tbody>
            <tr class="table-primary">
                <td class="font-weight-normal"> total_games</td>
                <td>{{ statistic.total_games }}</td>
            </tr>
            <tr class="table-primary">
                <td> correct_answers</td>
                <td>{{ statistic.correct_answers }}</td>
            </tr>
            <tr class="table-primary">
                <td> wrong_answers</td>
                <td>{{ statistic.wrong_answers }}</td>
            <tr class="table-primary">
                <td> average_score</td>
                <td>{{ statistic.average_score }}</td>
            </tr>
            <tr class="table-primary">
                <td> best_score</td>
                <td>{{ statistic.best_score }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}