{% extends "base.html" %}

{% block content %}
<div class="main-body">
    <h1 class="text-center">{{ title }}</h1>
    {% if current_user.role == "admin" or current_user.role == "main admin": %}
    <div class="container">
        <a href="/website" class="btn btn-success">Добавить сайт</a>
    </div>
    <br>
    {% endif %}
    <div class="container">
        <table class="table">
            <thead>
            <tr class="table-secondary">
                <th class="col-1" scope="col">id</th>
                <th class="col-3" scope="col">Имя сайта</th>
                <th class="col-5" scope="col">url</th>
                <th class="col-1" scope="col">Создатель</th>
                <th class="col-1" scope="col">Управление</th>
            </tr>
            </thead>
            <tbody>
            {% for website in websites %}
            <tr class="table-primary">
                <td>{{ loop.index }}</td>
                <td>{{ website.name }}</td>
                <td>{{ website.url }}</td>
                <td>
                    <div class="d-grid gap-2">
                        <a class="btn btn-info " href="/profile/{{ website.user.login }}"
                           role="button">
                            {{ website.user.login}}
                        </a>
                    </div>
                </td>
                <td>
                    {% if website.user.login == current_user.login or current_user.role == "main admin" %}
                    <div class="">
                        <div class="d-flex">
                            <a class="btn btn-warning mx-auto d-grid px-1" href="/website/{{ website.id }}"
                               role="button">
                                Настройки
                            </a>
                            <a class="btn btn-danger mx-auto d-grid px-1" href="/website_delete/{{ website.id }}"
                               role="button">
                                Удалить
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}